<div class="container-fluid">
    <div class="row">
        <div class="col-12 py-3">
            <p class="text-center text-dark font-weight-bolder">DASHBOARD VIEW</p>
        </div>

        <div class="col-12 py-3">
            <div class="card-deck">
                <div class="card">
                    <div class="card-header">
                        <p class="text-center font-weight-bold">Student Name</p>
                        <p class="text-center font-weight-bold">Student Matricule</p>
                    </div>
                    <div class="card-footer py-2 d-flex justify-content-center">
                        <button routerLink="/student/1" class="btn md rounded-0 border-0 text-white btn-success">View Profile</button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <p class="text-center font-weight-bold">Student Name</p>
                        <p class="text-center font-weight-bold">Student Matricule</p>
                    </div>
                    <div class="card-footer py-2 d-flex justify-content-center">
                        <button routerLink="/student/6" class="btn md rounded-0 border-0 text-white btn-success">View Profile</button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <p class="text-center font-weight-bold">Student Name</p>
                        <p class="text-center font-weight-bold">Student Matricule</p>
                    </div>
                    <div class="card-footer py-2 d-flex justify-content-center">
                        <button routerLink="/student/2" class="btn md rounded-0 border-0 text-white btn-success">View Profile</button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <p class="text-center font-weight-bold">Student Name</p>
                        <p class="text-center font-weight-bold">Student Matricule</p>
                    </div>
                    <div class="card-footer py-2 d-flex justify-content-center">
                        <button routerLink="/student/4" class="btn md rounded-0 border-0 text-white btn-success">View Profile</button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <p class="text-center font-weight-bold">Student Name</p>
                        <p class="text-center font-weight-bold">Student Matricule</p>
                    </div>
                    <div class="card-footer py-2 d-flex justify-content-center">
                        <button routerLink="/student/10" class="btn md rounded-0 border-0 text-white btn-success">View Profile</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>