<div class="container-fluid">
    <div class="row">
        <div class="col-12 px-0">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/dashboard">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/all-students">All Students</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
<router-outlet></router-outlet>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 px-0 py-5 bg-dark">
            <p class="text-center text-white">&copy; Nsai Sunjo - 2020</p>
        </div>
    </div>
</div>