<div class="container">
    <div class="row">
        <div class="col-12 py-3 d-flex justify-content-center">
            <div class="card col-6 px-0">
                <div class="card-header bg-info">
                    <p class="text-center text-white py-0 mb-0">STUDENT DETAILS</p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <p><span>Student Name : </span><span>{{student.name}}</span></p>
                        </div>
                        <div class="col-12">
                            <p><span>Matricule : </span><span>{{student.matricule}}</span></p>
                        </div>
                    </div>
                </div>
                <div class="card-footer p-0">
                    <p class="text-center text-white bg-primary py-2 mb-0">TRANSCRIPT</p>
                </div>
            </div>
        </div>
    </div>
</div>